.Rproj.user
.Rhistory
.RData
.Ruserdata
dwumian2019.Rproj
presentation-concordance.tex
presentation-pl-concordance.tex
presentation.bbl
presentation.blg
presentation.log
presentation.nav
presentation.snm
presentation.synctex.gz
presentation.tex
presentation.toc
unnamed-chunk-1-1.pdf
unnamed-chunk-10-1.pdf
unnamed-chunk-11-1.pdf
unnamed-chunk-12-1.pdf
unnamed-chunk-13-1.pdf
unnamed-chunk-14-1.pdf
unnamed-chunk-16-1.pdf
unnamed-chunk-17-1.pdf
unnamed-chunk-18-1.pdf
unnamed-chunk-2-1.pdf
unnamed-chunk-4-1.pdf
unnamed-chunk-6-1.pdf
unnamed-chunk-7-1.pdf
unnamed-chunk-8-1.pdf
unnamed-chunk-9-1.pdf
